html,
body {
  margin: 0;
  padding: 0;
  font-family: "Gloria Hallelujah", cursive;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Josefin Slab", serif;
}

.content {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: clip;
}

.sidebar {
  overflow: clip;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 400px;
  max-width: 785px;
}

.main {
  flex-grow: 2;
  flex-basis: 0;
  padding-left: 50px;
  padding-right: 100px;
  padding-top: 150px;
  padding-bottom: 150px;
}

#side-image {
  height: 100%;
  width: 100%;
  position: relative;
}

.logo-group {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  font-size: 50px;
  font-weight: 800;
  color: rgb(38, 32, 80);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  box-sizing: border-box;
}

#logo-image {
  stroke: none;
  height: 200px;
}

.heading {
  font-size: 30px;
}

.form-header {
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

form {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

label,
input {
  display: block;
}

input:focus {
  outline: 0px;
  border-color: #407fc7;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
}

label {
  font-weight: 700;
}

div[class^="column"] > div {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 80px;
}

button {
  font-size: 16px;
  font-weight: bold;

  color: #ffffff;
  background-color: #5995da;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;

  margin-top: 20px;
}

button:hover {
  background-color: #76aeed;
}

button:active {
  background-color: #407fc7;
}

.log-in {
  padding-top: 20px;
}
